/* Style d'ensemble */
body {
    font-family: Avenir, sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    box-sizing: border-box;
    background-color: darkslategrey;
}

/* Header & Footer */
header {
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    /* définit la largeur du bloc à 90% et la hauteur à 120 pixels */
    width: 90%;
    height: 120px;
    /* définit un padding de 20 pixels en haut et en bas */
    padding-top: 20px;
    padding-bottom: 20px;
    /* centre l'image de 20 pixels par rapport au bord */
    margin: 20px auto;
    border-radius: 10px;
    background: url("https://imagizr.com/1200_628/cdn.sushi-maki.com/1/43/1383134049-sushi-volonte-orig.JPG");
    background-size: cover;
}
header h1 {
    color: white;
    font-size: 1.5em;
    width: 90%;
    margin: 0 auto;
}
footer p {
    width: 90%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
}
footer a {
    color: #fff;
}

/* Sections d'ensemble */
section {
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
    padding-bottom: 20px;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #fff;
}
section h2 {
    margin: 20px 0;
    width: 90%;
}
section > div {
    width: 90%;
}

/* Section de présentation et informations de contact */
.photo {
    text-align: center;
}
.photo img {
    width: 150px;
    height: 150px;
    /* border: 2px solid #000; */
    box-shadow: 0px 0px 10px;
    border-radius: 50%;
    margin-top: -90px;
}
.contact-flex {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.social {
    display: flex;
    justify-content: space-around;
    margin: 10px auto 0px auto;
}
.social img {
    width: 40px;
    height: 40px;
}

/* Section expériences professionnelles et formation */
.exp { 
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.exp-info, .exp-desc {
    display: flex;
    flex-flow: column wrap;
    flex: 0 0 90%;
    margin-left: auto;
}
.exp h3 {
    font-size:  1.2em;
}
.exp h4 {
    font-size:  1em;
    font-weight: normal;
}

/* Section compétences professionnelles et personnelles */
.left {
    width: 90%;
}
.competence-pro, .competence-perso {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
}
.competence {
    flex: 0 0 40%;
}
/* Barre de progression de compétence */
.conteneur-barre {
    flex: 0 0 60%;
    border-radius: 5px;
    background-color: grey;
    border-bottom: 1px ridge grey;
}
.barre {
    display: block;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.c85 {
    width: 85%;
    background-color: #8B8;
}
.c90 { 
    width: 90%;
    background-color: #4B8;
}
.c95 {
    width: 95%;
    background-color: #4B8;
}
.c100 {
    width: 100%;
    background-color: #4B8;
    border-radius: 5px;
}
/* .competence-perso {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
} */
.conteneur-barre2 {
    flex: 0 0 100%;
    height: 0.5em;
    margin-bottom: 0.25em;
    border-radius: 5px;
    background-color: grey;
}

/* Section intérêts */
.interet { 
    display: flex;
    justify-content: space-between;
    align-items: justify;
    margin-bottom: 20px;
}
.interet img { 
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
figcaption {
    padding: 10%;
}